.reviews {
    filter: grayscale(100%);
    width: 70%;
    transition: all 1s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C0C0C0;
    border-radius: 0 0 20px 20px ;
}

.reviews:hover {
    filter: none;
}

@media (hover: none) and (pointer: coarse) {
    .reviews:hover {
        filter: none;
    }
}

@media screen and (max-width:700px) {
    .reviews  {
        width: 98%;
    }
}