@font-face {
    font-family: 'Finlandica';
    src: url('Finlandica-MediumItalic.woff2') format('woff2'),
        url('Finlandica-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Finlandica';
    src: url('Finlandica-BoldItalic.woff2') format('woff2'),
        url('Finlandica-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Finlandica';
    src: url('Finlandica-Italic.woff2') format('woff2'),
        url('Finlandica-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

