.list__item-services {
    list-style: none;
    padding: 0;
    margin: 0 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
}

@media screen and (max-width:700px) {
    .list__item-services {
        width: 98%;
    }
}