.list__item-content {
    padding: 0;
    margin: 0 20px 20px;
    display: flex;
    max-height: 0;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    transition: all 0.5s linear;
}

@media screen and (max-width:700px) {
    .list__item-content {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
}