.list__item-content {
    padding: 0;
    margin: 0 20px 20px;
    display: flex;
    max-height: 0;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    transition: all 0.5s linear;
}

